MYSQL_ROOT_PASSWORD=MySqlR00t!Secure2025
MYSQL_DATABASE=tech_tavern_board
MYSQL_USER=boards_user
MYSQL_PASSWORD=T3chT@vern!Board2025
DB_HOST=127.0.0.1
DB_USER=boards_user
DB_PASS=T3chT@vern!Board2025
DB_NAME=tech_tavern_board
NODE_ENV=development
